@model DevIO.App.Models.ClienteViewModel.CreateClienteViewModel

@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<h4>@ViewData["Title"]</h4>
<hr />

<form asp-action="Create">
    <vc:summary></vc:summary>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="TipoPessoa" class="control-label"></label>
            <select asp-for="TipoPessoa" asp-items="@(new SelectList(Model.TiposPessoa))" class="form-control"></select>
            <span asp-validation-for="TipoPessoa" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="CpfCnpj" class="control-label"></label>
            <input asp-for="CpfCnpj" class="form-control" />
            <span asp-validation-for="CpfCnpj" class="text-danger"></span>
        </div>
    </div>
    <div id="div-pessoa-juridica" hidden>
        <div class="row">
            <div class="form-group col-md-6 ">
                <label asp-for="RazaoSocial" class="control-label"></label>
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NomeFantasia" class="control-label"></label>
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="NomeCompleto" class="control-label"></label>
            <input asp-for="NomeCompleto" class="form-control" />
            <span asp-validation-for="NomeCompleto" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="DataNascimento" class="control-label"></label>
            <input asp-for="DataNascimento" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="TelefoneContato" class="control-label"></label>
            <input asp-for="TelefoneContato" class="form-control" />
            <span asp-validation-for="TelefoneContato" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="EmailContato" class="control-label"></label>
            <input asp-for="EmailContato" class="form-control" />
            <span asp-validation-for="EmailContato" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group fa-pull-right">
        <a class="btn btn-warning" asp-action="Index">Voltar</a>
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
    </div>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#div-pessoa-juridica').hide();

            $('#TipoPessoa').change(function () {
                tipoPessoa_change();
            });

            tipoPessoa_change();
        });

        var tipoPessoa_change = function () {
            if ($('#TipoPessoa').val() == 'PessoaJuridica') {
                $('#div-pessoa-juridica').removeAttr('style');
                $('#div-pessoa-juridica').removeAttr('hidden');
            } else {
                $('#div-pessoa-juridica').hide();
            }
        }
    </script>
}